.test_1 {
  color: #eee;
  .text {
    background: #ccc;
    color: #eee;
  }
}

.test_2 {
  color: #eee
}

.test_3 {
  color: #ccc
}

@keyframes identifier {
  from {
    color: #ccc;
  }

  to {
    color: #eee;
  }
}